@using ASP.Reward.Models;

@model UserViewModel

@{
    var currentUser = Model;
    if (currentUser == null)
    {
        currentUser = new UserViewModel();
    }
}

<h2>Добавить новго пользователя</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <h4>Регистрация пользователя</h4>
        <hr />
        @Html.ValidationSummary(false)

        <div>
            <h4>Имя</h4>
            <div>
                @Html.EditorFor(model => model.FirstName)
            </div>
        </div>

        <div>
            <h4>Фамилия</h4>
            <div>
                @Html.EditorFor(model => model.LastName)
            </div>
        </div>

        <div>
            <h4>Дата рождения</h4>
            <div>
                @Html.EditorFor(model => model.Birthdate.ToShortDateString())
            </div>
        </div>
        <div>
            <div>
                <input type="submit" value="Добавить" />
            </div>
        </div>
    </div>
}